<!DOCTYPE html>

<html>
  <head>
	<title>Allen Scorecard Creator</title>
    <link href='https://fonts.googleapis.com/css?family=Trocchi' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/static/css/main.css" />
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/smoothness/jquery-ui.css" type="text/css" media="all" />
	<script type="text/javascript" src="/static/js/main.js"></script>
	<script type="text/javascript">
	  $(function() {
	  site = new Site({{dte}});
	  site.start()
	  });  
	</script>
  </head>
  <body>

	<div id="gamepicker">
	  <form action="/choosegame" method="get">
		<span id="dte"></span><br>
		<input type="hidden" id="datepicker" />
		<select id="gameID" name="gameID">
		  {% for game in games %}
              <option value="{{ game.url }}">{{ game.away }} @ {{ game.home }}</option>
		  {% endfor %}
		</select>
		<input type="button" value="View Scorecard" id="view_scorecard">
	  </form>
	</div>
	<hr>
	<div id="scorecard"></div>

  </body>
</html>
